<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Nueva Comida</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre Completo" formControlName="Nombre">
            <mat-error *ngIf="addressForm.controls['Nombre'].hasError('required')">
              El Nombre <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cantidad" formControlName="Cantidad">
            <mat-error *ngIf="addressForm.controls['Cantidad'].hasError('required')">
              La Cantidad es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>  
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
